# Created by .ignore support plugin (hsz.mobi)
### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
### C++ template
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
### C template
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.idea/codeStyles/
.idea/file_system.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/
cmake-build-debug/CTestTestfile.cmake
cmake-build-debug/Makefile
cmake-build-debug/cmake_install.cmake
cmake-build-debug/file_system.cbp
cmake-build-debug/file_system/
cmake-build-debug/file_system_tests/CMakeFiles/
cmake-build-debug/file_system_tests/Makefile
cmake-build-debug/file_system_tests/basic_tests/CMakeFiles/
cmake-build-debug/file_system_tests/basic_tests/Makefile
cmake-build-debug/file_system_tests/basic_tests/bcache_test
cmake-build-debug/file_system_tests/basic_tests/cmake_install.cmake
cmake-build-debug/file_system_tests/basic_tests/runFileSystemTests
cmake-build-debug/file_system_tests/basic_tests/test.cbp
cmake-build-debug/file_system_tests/basic_tests/test.disk
cmake-build-debug/file_system_tests/bitio_tests.cbp
cmake-build-debug/file_system_tests/cmake_install.cmake
cmake-build-debug/file_system_tests/lib/
cmake-build-debug/gmock.pc
cmake-build-debug/gmock_main.pc
cmake-build-debug/gtest.pc
cmake-build-debug/gtest_main.pc
